
.container {
    padding: 10px;
  }
  
  .form {
    max-width: 64em;
    margin: auto;
    text-align: center;
  }
  
  .form-element {
    padding: 5px 0px 25px 0px;
    width: 100%;
  }
  
  .button {
    width: 10%;
    float: right;
    margin-left:20px;
  }